APP_PORT=8080
APP_BASE_PATH=/
DB_DRIVER=sqlite
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=sqlite
DB_PASS=sqlite
DB_NAME=all_monitor
SQLITE_DSN=data/all-monitor.db
JWT_SECRET=replace_with_strong_secret
CORS_ALLOW=*
IP_REGION_DB=data/ip2region.xdb
